In [59]:
!pip install yfinance

import numpy as np
import pandas as pd
import yfinance as yf
import os
from datetime import datetime as dt

#Tofetch data from Yahoo Finance
from pandas_datareader import data as pdr

#To convert to JS
import json

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.55)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [60]:
startdate=dt(2015,12,30)
enddate=dt(2020,12,31)

tickers=["000001.SS","^N225","DAX","^BSESN","EWZ","VCE.TO","^KS11","^IBEX","^DJI","^IXIC","^MXX","^DJAU","FTSEMIB.MI","^FTMC"]

all_data=yf.download(tickers,start=startdate, end=enddate)[['Adj Close','Volume']]
all_data.head()

[*********************100%***********************]  14 of 14 completed

              Adj Close             ...       Volume
              000001.SS        DAX  ...         ^MXX        ^N225
Date                                ...
2015-12-30  3572.875977  22.292841  ...   98029600.0  100500000.0
2015-12-31  3539.181885  22.132782  ...   68463600.0          NaN
2016-01-04  3296.258057  21.332479  ...  122098600.0  140200000.0
2016-01-05  3287.710938  21.207989  ...  186120200.0  132300000.0
2016-01-06  3361.840088  20.967897  ...  185518000.0  142200000.0

[5 rows x 28 columns]

In [61]:
data_flat=all_data.stack().reset_index()
data_flat

            Date     level_1     Adj Close        Volume
0     2015-12-30   000001.SS   3572.875977  1.879000e+05
1     2015-12-30         DAX     22.292841  8.000000e+02
2     2015-12-30         EWZ     18.492609  1.087570e+07
3     2015-12-30  FTSEMIB.MI  21418.000000  2.551037e+08
4     2015-12-30      VCE.TO     23.921860  2.410000e+04
...          ...         ...           ...           ...
17514 2020-12-30       ^IBEX   8154.399902  1.299305e+08
17515 2020-12-30       ^IXIC  12870.000000  5.292210e+09
17516 2020-12-30       ^KS11   2873.469971  1.074000e+06
17517 2020-12-30        ^MXX  44693.960938  8.285650e+07
17518 2020-12-30       ^N225  27444.169922  5.060000e+07

[17519 rows x 4 columns]

In [62]:
data_flat.columns=['Date','Index','Price','Volume']
data_flat.fillna(method='ffill')
data_flat.head()

        Date       Index         Price       Volume
0 2015-12-30   000001.SS   3572.875977     187900.0
1 2015-12-30         DAX     22.292841        800.0
2 2015-12-30         EWZ     18.492609   10875700.0
3 2015-12-30  FTSEMIB.MI  21418.000000  255103700.0
4 2015-12-30      VCE.TO     23.921860      24100.0

In [63]:
data_flat['Daily Change']= data_flat.groupby("Index")["Price"].pct_change(1)
data_flat["Market Cap"]=data_flat['Price']*data_flat['Volume']
Data_Flat=data_flat[data_flat.Date != '2015-12-30']
Data_Flat.head()

         Date      Index         Price     Volume  Daily Change    Market Cap
14 2015-12-31  000001.SS   3539.181885   177000.0     -0.009431  6.264352e+08
15 2015-12-31        DAX     22.132782     5600.0     -0.007180  1.239436e+05
16 2015-12-31        EWZ     18.394760  8068100.0     -0.005291  1.484108e+08
17 2015-12-31     VCE.TO     23.630974     5800.0     -0.012160  1.370596e+05
18 2015-12-31     ^BSESN  26117.539062     6200.0      0.006067  1.619287e+08

In [64]:
import pandas_datareader.data as web
startdate=dt(2015,12,30)
enddate=dt(2020,12,31)
EUR = web.DataReader("EUR=X", 'yahoo',startdate,enddate)
CNY = web.DataReader("CNY=X", 'yahoo',startdate,enddate)
CAD = web.DataReader("CAD=X", 'yahoo',startdate,enddate)
INR = web.DataReader("INR=X", 'yahoo',startdate,enddate)
AUD = web.DataReader("AUD=X", 'yahoo',startdate,enddate)
KRW = web.DataReader("KRW=X", 'yahoo',startdate,enddate)
MXN = web.DataReader("MXN=X", 'yahoo',startdate,enddate)
JPY = web.DataReader("JPY=X", 'yahoo',startdate,enddate)
GBP = web.DataReader("GBP=X", 'yahoo',startdate,enddate)


EUR=pd.DataFrame(EUR).stack().reset_index()
EUR['Curr']='EUR'
CNY=pd.DataFrame(CNY).stack().reset_index()
CNY['Curr']='CNY'
CAD=pd.DataFrame(CAD).stack().reset_index()
CAD['Curr']='CAD'
INR=pd.DataFrame(INR).stack().reset_index()
INR['Curr']='INR'
AUD=pd.DataFrame(AUD).stack().reset_index()
AUD['Curr']='AUD'
KRW=pd.DataFrame(KRW).stack().reset_index()
KRW['Curr']='KRW'
MXN=pd.DataFrame(MXN).stack().reset_index()
MXN['Curr']='MXN'
JPY=pd.DataFrame(JPY).stack().reset_index()
JPY['Curr']='JPY'
GBP=pd.DataFrame(GBP).stack().reset_index()
GBP['Curr']='GBP'

Cur=EUR.append([CNY,CAD,INR,AUD,KRW,MXN,JPY,GBP],ignore_index=True)
Cur.columns=['Date','Status','Fx','Curr']
Cur=Cur[Cur.Status=='Close']
Cur["CC"]= Cur['Date'].dt.strftime("%m/%d/%Y") + '_' + Cur["Curr"]
Cur = Cur[(Cur['Date'] < '2021-01-01')]
Cur

            Date Status        Fx Curr              CC
3     2015-12-30  Close  0.915080  EUR  12/30/2015_EUR
9     2015-12-31  Close  0.914580  EUR  12/31/2015_EUR
15    2016-01-01  Close  0.920890  EUR  01/01/2016_EUR
21    2016-01-04  Close  0.921320  EUR  01/04/2016_EUR
27    2016-01-05  Close  0.923570  EUR  01/05/2016_EUR
...          ...    ...       ...  ...             ...
69363 2020-12-25  Close  0.737898  GBP  12/25/2020_GBP
69369 2020-12-28  Close  0.736790  GBP  12/28/2020_GBP
69375 2020-12-29  Close  0.742610  GBP  12/29/2020_GBP
69381 2020-12-30  Close  0.740746  GBP  12/30/2020_GBP
69387 2020-12-31  Close  0.733640  GBP  12/31/2020_GBP

[11557 rows x 5 columns]

In [65]:
Cur_Index = (['000001.SS','DAX','EWZ','FTSEMIB.MI','VCE.TO','^BSESN','^DJAU','^DJI','^FTMC','^IBEX','^IXIC','^KS11','^MXX','^N225']
             ,[ 'China: SSE Composite','Germany: DAX30','Brazil: iShares MSCI Brazil ETF','Italy: FTSE Italia All-Share','Canada: Vanguard FTSE Canada','India: S&P BSE SENSEX','Australia: Dow Jones Australia','USA: Dow Jones','UK: FTSE 250 Index','Spain: IBEX 35','US: Nasdaq','South Korea: KOSPI','Mexico: IPC','Japan: Nikkei 225 Index']
             ,['CNY','EUR','USD','EUR','CAD','INR','AUD','USD','GBP','EUR','USD','KRW','MXN','JPY'])
Cur_Index = pd.DataFrame(Cur_Index)
Cur_Index = Cur_Index.transpose()
Cur_Index = Cur_Index.rename(columns={ Cur_Index.columns[2]: "Curr" })
Cur_Index = Cur_Index.rename(columns={ Cur_Index.columns[0]: "Index" })
Cur_Index

         Index                                1 Curr
0    000001.SS             China: SSE Composite  CNY
1          DAX                   Germany: DAX30  EUR
2          EWZ  Brazil: iShares MSCI Brazil ETF  USD
3   FTSEMIB.MI     Italy: FTSE Italia All-Share  EUR
4       VCE.TO     Canada: Vanguard FTSE Canada  CAD
5       ^BSESN            India: S&P BSE SENSEX  INR
6        ^DJAU   Australia: Dow Jones Australia  AUD
7         ^DJI                   USA: Dow Jones  USD
8        ^FTMC               UK: FTSE 250 Index  GBP
9        ^IBEX                   Spain: IBEX 35  EUR
10       ^IXIC                       US: Nasdaq  USD
11       ^KS11               South Korea: KOSPI  KRW
12        ^MXX                      Mexico: IPC  MXN
13       ^N225          Japan: Nikkei 225 Index  JPY

In [66]:
data_Splitdates=data_flat
data_Splitdates['Year'] = data_Splitdates['Date'].dt.strftime("%Y")
data_Splitdates['Month'] =data_Splitdates['Date'].dt.strftime("%m")
data_Splitdates['Day'] = data_Splitdates['Date'].dt.strftime("%d")
data_Splitdates=data_Splitdates[['Date','Index','Year','Month','Day','Price','Volume','Daily Change','Market Cap']]
data_Splitdates[['Year','Month','Day']] = data_Splitdates[['Year','Month','Day']].apply(pd.to_numeric, errors='coerce')
data_Splitdates= data_Splitdates[(data_Splitdates['Date'] > '2016-01-01')]
data_Splitdates = data_Splitdates.merge(Cur_Index, on='Index')
data_Splitdates["CC"] = data_Splitdates['Date'].dt.strftime("%m/%d/%Y") + '_' + data_Splitdates["Curr"]
data_Splitdates

            Date      Index  Year  ...                        1  Curr              CC
0     2016-01-04  000001.SS  2016  ...     China: SSE Composite   CNY  01/04/2016_CNY
1     2016-01-05  000001.SS  2016  ...     China: SSE Composite   CNY  01/05/2016_CNY
2     2016-01-06  000001.SS  2016  ...     China: SSE Composite   CNY  01/06/2016_CNY
3     2016-01-07  000001.SS  2016  ...     China: SSE Composite   CNY  01/07/2016_CNY
4     2016-01-08  000001.SS  2016  ...     China: SSE Composite   CNY  01/08/2016_CNY
...          ...        ...   ...  ...                      ...   ...             ...
17490 2020-12-24      ^N225  2020  ...  Japan: Nikkei 225 Index   JPY  12/24/2020_JPY
17491 2020-12-25      ^N225  2020  ...  Japan: Nikkei 225 Index   JPY  12/25/2020_JPY
17492 2020-12-28      ^N225  2020  ...  Japan: Nikkei 225 Index   JPY  12/28/2020_JPY
17493 2020-12-29      ^N225  2020  ...  Japan: Nikkei 225 Index   JPY  12/29/2020_JPY
17494 2020-12-30      ^N225  2020  ...  Japan: Nikkei 225 Index   JPY  12/30/2020_JPY

[17495 rows x 12 columns]

In [67]:
Df_Cur = data_Splitdates.merge(Cur, on='CC', how='left')
Df_Cur['Fx'] = Df_Cur['Fx'].fillna(1)
Df_Cur["Price USD"] = Df_Cur["Price"] / Df_Cur["Fx"]
Df_Cur["Market Cap USD"] = Df_Cur["Price USD"] * Df_Cur["Volume"]
Df_Cur = Df_Cur[(Df_Cur['Date_x']  > '2016-01-01')]
Df_Cur

          Date_x      Index  Year  ...  Curr_y   Price USD  Market Cap USD
0     2016-01-04  000001.SS  2016  ...     CNY  508.391529    9.374740e+07
1     2016-01-05  000001.SS  2016  ...     CNY  503.832846    1.344730e+08
2     2016-01-06  000001.SS  2016  ...     CNY  516.213464    1.233234e+08
3     2016-01-07  000001.SS  2016  ...     CNY  477.340027    3.370021e+07
4     2016-01-08  000001.SS  2016  ...     CNY  484.043824    1.386302e+08
...          ...        ...   ...  ...     ...         ...             ...
17490 2020-12-24      ^N225  2020  ...     JPY  257.535819    1.233597e+10
17491 2020-12-25      ^N225  2020  ...     JPY  257.171615    8.589532e+09
17492 2020-12-28      ^N225  2020  ...     JPY  259.376528    1.315039e+10
17493 2020-12-29      ^N225  2020  ...     JPY  265.873425    1.579288e+10
17494 2020-12-30      ^N225  2020  ...     JPY  265.009998    1.340951e+10

[17495 rows x 18 columns]

In [ ]:
#data_Splitdates=data_flat
#data_Splitdates["Date"]=(data_Splitdates["Date"]).apply(str)
#data_Splitdates['Year'] = data_Splitdates['Date'].str[0:4]
#data_Splitdates['Month'] = data_Splitdates['Date'].str[5:7]
#data_Splitdates['Day'] = data_Splitdates['Date'].str[8:10]
#data_Splitdates=data_Splitdates[['Date','Index','Year','Month','Day','Price','Volume','Daily Change','Market Cap']]
#data_Splitdates[['Year','Month','Day']] = data_Splitdates[['Year','Month','Day']].apply(pd.to_numeric, errors='coerce')
#data_Splitdates

In [68]:
data_Splitdates.dtypes

Date            datetime64[ns]
Index                   object
Year                     int64
Month                    int64
Day                      int64
Price                  float64
Volume                 float64
Daily Change           float64
Market Cap             float64
1                       object
Curr                    object
CC                      object
dtype: object

In [69]:
monthlydata=Df_Cur.groupby(["Index",'Year','Month'])[['Price']].max("Day")
monthlydata_flat=monthlydata.stack().reset_index()
monthlydata_flat=monthlydata_flat.drop(columns=['level_3'])
monthlydata_flat.columns=['Index','Year','Month','Price']
monthlydata_flat['Monthly Return']=monthlydata_flat.groupby(["Index"])["Price"].pct_change(1)
monthlydata_flatp = monthlydata_flat[monthlydata_flat.Year != 2015]
#monthlydata_flatp.fillna(method='ffill')
monthlydata_flatp['Monthly Return'] = monthlydata_flatp['Monthly Return'].fillna(0)
monthlydata_flatp

         Index  Year  Month         Price  Monthly Return
0    000001.SS  2016      1   3361.840088        0.000000
1    000001.SS  2016      2   2928.895996       -0.128782
2    000001.SS  2016      3   3018.802002        0.030696
3    000001.SS  2016      4   3082.362061        0.021055
4    000001.SS  2016      5   2997.842041       -0.027421
..         ...   ...    ...           ...             ...
835      ^N225  2020      8  23296.769531        0.015309
836      ^N225  2020      9  23559.300781        0.011269
837      ^N225  2020     10  23671.130859        0.004747
838      ^N225  2020     11  26644.710938        0.125621
839      ^N225  2020     12  27568.150391        0.034658

[840 rows x 5 columns]

In [70]:
monthlydata_flat['Monthly Return'].to_list()

[nan,
 -0.12878188149291903,
 0.030696209759336623,
 0.02105472917820639,
 -0.027420535897802467,
 -0.019734247315431386,
 0.0415176207777439,
 0.02107568075572752,
 -0.009356525323145792,
 0.01162319017038671,
 0.04820818959650697,
 -0.002928788489384493,
 -0.03118342798949303,
 0.028374403926652914,
 0.0025226926678638684,
 0.005970736833191603,
 -0.04416407696039193,
 0.015496040738565142,
 0.02524758566740548,
 0.028169021438615216,
 0.005991526676719872,
 0.009281975123882624,
 0.00907978714510671,
 -0.03644021782232065,
 0.07141933822100177,
 -0.02021877327100685,
 -0.04610701957914953,
 -0.035656049514760535,
 0.001953836075634152,
 -0.030852322554389855,
 -0.0672891853830988,
 -0.02788723002471516,
 -0.0011272082273667827,
 -0.03385371552190375,
 -0.008190127243747125,
 -0.01389080410725163,
 -0.020798892723322582,
 0.134369933725472,
 0.049010855016503374,
 0.052915979769705634,
 -0.09633314759779754,
 0.017740913380082546,
 0.01221852368088161,
 -0.0447085024498628,
 0.04210369671056391,
 -0.00770645263889802,
 -0.005425690138759931,
 0.019576396160095655,
 0.0214568471376837,
 -0.024361873230745124,
 0.010530112724935092,
 -0.06888581402555749,
 0.01345901833016705,
 0.02970360158843488,
 0.15610412078305314,
 0.0001434875236960842,
 -0.01173026149962142,
 -0.014911402745599323,
 0.01629287602779228,
 0.010967948735824073,
 nan,
 -0.04751973804855936,
 0.06958415490263903,
 0.03355149485828579,
 -0.011084666615943983,
 0.0032538462000821777,
 -0.02041792210824489,
 0.04095010635421081,
 0.004287838210216055,
 -0.01723524936953691,
 -0.015106140986907324,
 0.02889519568153953,
 0.05298794777087634,
 -0.004918548348404217,
 0.039163479765782494,
 0.035492038627583655,
 0.036325109979948644,
 0.02086752292523686,
 0.0008529910937571383,
 0.003060179308666422,
 0.04138986360103636,
 0.02519453700794405,
 0.013240118223827757,
 -0.003196324194783884,
 0.06255879335402592,
 -0.02426020302059806,
 -0.059702811756540464,
 0.017058485569573678,
 -0.006024218795064429,
 -0.019457709584170146,
 -0.015132600414904718,
 -0.01042785444803429,
 -0.016549507437144673,
 -0.019850297065051148,
 -0.06909589406300409,
 -0.022658911030771223,
 -0.012442953534498646,
 0.024712075174185166,
 0.013880154292880365,
 0.037323249927430524,
 0.003096574929660978,
 -0.000596264861293605,
 0.023773524293225767,
 -0.059048983191841486,
 0.02945787839336056,
 0.040715364276479704,
 0.02230346761331492,
 0.015021420979118405,
 0.004335449686699411,
 -0.0015789219270828658,
 -0.0961167266772136,
 -0.10769812747963015,
 0.07411751453088011,
 0.1212527176105922,
 0.044357122162632656,
 0.030241439365922496,
 0.008163260478541101,
 -0.015688290642165148,
 0.025775509323010093,
 0.05991245118039479,
 nan,
 0.04352143652735441,
 0.276303401822354,
 0.09580390753899382,
 -0.015926783518545706,
 0.046953695798071404,
 0.10139166103617114,
 0.04933830231476688,
 0.006307199134915065,
 0.08803424582562291,
 -0.01702017279565815,
 -0.0919810561181259,
 0.12774811641629746,
 0.057692318340525794,
 -0.02914070299408278,
 -0.01898404366719364,
 0.05753129531545076,
 -0.13353115403122517,
 0.08754739186885852,
 0.06613755709078495,
 0.07568221101191286,
 -0.00023066204624355713,
 -0.05399150875467251,
 -0.0029038130242197147,
 0.1700866693995544,
 -0.004225662862451407,
 -0.018883931486887384,
 -0.04476655348236902,
 -0.052297899365280176,
 -0.1299570215611705,
 0.036949706641997704,
 0.010767215888594306,
 -0.08521981917189503,
 0.1758369844856844,
 0.030205569055705928,
 -0.03893287180613125,
 0.15200849755601897,
 0.001983621817161829,
 -0.023317158263924775,
 -0.03941440762213888,
 -0.023446534151755793,
 0.07911154249288543,
 0.052951877007903825,
 -0.05264277200204159,
 -0.028913529009635175,
 0.05326813826837706,
 -0.0006626187823922658,
 0.06740253734433788,
 0.017183027189783262,
 -0.07064651957344548,
 -0.12447216406961581,
 -0.3417110635324233,
 0.07211715479414482,
 0.19676258132331204,
 0.018882235878913356,
 -0.04358202883407136,
 -0.025280934760880447,
 -0.04450844541450916,
 0.14041549299085232,
 0.12176554500683112,
 nan,
 -0.11900109612543486,
 0.027155685383533523,
 -0.0005793132504740006,
 -0.02935132001897034,
 -0.024158523344191107,
 -0.06186369958275384,
 0.008005692937199882,
 0.022237910342393308,
 0.0028775322283609572,
 -0.028463215884310777,
 0.14536326048434733,
 0.015316383889433238,
 -0.025396180414465674,
 0.06801125703564725,
 0.016786219684770343,
 0.04563996736574372,
 -0.030567284743895695,
 0.024287472777199115,
 0.019089438409983783,
 0.029390420899854774,
 0.005066972153683569,
 0.010302047257901847,
 -0.01180248199253664,
 0.049003249319399256,
 -0.014608622854750952,
 -0.02901321099358567,
 0.05171056085396808,
 0.020965058236272816,
 -0.08384941329856588,
 -0.012007471315485185,
 -0.016294562477493724,
 -0.008465269515878115,
 -0.04305690156444686,
 -0.0576292438271605,
 0.004145130750729198,
 0.009632045663031219,
 0.04280450254908885,
 0.03732029623892741,
 0.02664489034064399,
 -0.010817690104995226,
 -0.017185130726462328,
 0.03810369816260706,
 -0.02868852459016391,
 0.02846942087448423,
 0.023218069518957662,
 0.0478498413817412,
 0.009334791018417388,
 0.006707215464089256,
 0.054334781709083346,
 -0.1386294057618337,
 -0.17675202770436527,
 0.015719267172192408,
 0.10244673314805741,
 0.024319114230636263,
 -0.013801090575688901,
 -0.023144297108186107,
 -0.012272089761570792,
 0.13352604087428377,
 -0.0028185397279885116,
 nan,
 0.00583092108095995,
 0.06028676961221402,
 0.01625181812620702,
 0.013610167303664822,
 0.014434093373809409,
 0.01511120215850359,
 0.013793119297648149,
 0.008436661670768508,
 0.01326866704492713,
 0.02331515211389168,
 0.02407474854558056,
 0.014728281852387948,
 0.01935265571667144,
 -0.011569228100722473,
 0.007811269065442383,
 -0.006892566162612801,
 -0.011768099642658458,
 -0.006928126655539102,
 0.0015484946413364398,
 0.02932894659816454,
 0.030862574771667317,
 0.004696172049494685,
 0.008650517323245843,
 0.01574834649029233,
 -0.03675024151325257,
 -0.005662922893697853,
 0.001927774444417052,
 0.03497141293700312,
 0.016196261912306387,
 0.011547416040868841,
 -0.0022834258040564936,
 -0.009852222573394798,
 -0.006989085457622224,
 -0.036656953916346935,
 0.001522399767910576,
 0.017226930375019434,
 0.03524096313572889,
 0.01251089070425948,
 0.03469948868538131,
 -0.006157319629512381,
 0.006195467100705621,
 0.0035565582006797936,
 -0.004220659990493925,
 0.029952031843557103,
 -0.014694886245885885,
 0.03732806256651533,
 0.0013528620006655334,
 0.030776381900924576,
 0.02006331127718597,
 -0.06366459864910923,
 -0.08414995379428802,
 0.009410931520334342,
 0.04210537107231138,
 0.01859768460127098,
 0.03377214853746269,
 -0.006921302175142086,
 -0.005973737355387421,
 0.05321255170481187,
 0.013437270702089554,
 nan,
 -0.031163744921071546,
 0.020827103156310978,
 0.028500661886614154,
 0.025378968887499465,
 0.011040371448635122,
 0.04396483940457019,
 0.008633913628875556,
 0.020845839759448204,
 -0.024469673999708008,
 -0.016161943409141233,
 -0.040515317781540605,
 0.04244489562129661,
 0.036241771050629756,
 0.026166209733782475,
 0.016336454333558903,
 0.034050339393094875,
 0.004883595960363252,
 0.038432091671384505,
 0.0018523936923466877,
 -0.0046480235287529315,
 0.025980959540605086,
 0.013979108133182816,
 0.009653875394678879,
 0.06537372966232446,
 -0.010379165145073865,
 -0.0517931420496176,
 0.032702437363304915,
 0.011272682348685503,
 0.005131217537828636,
 0.05225131090338242,
 0.03430385973863448,
 -0.013029627708137093,
 -0.04854619459870646,
 -0.009084996062323492,
 0.008013066628993926,
 0.002593793482389861,
 0.010833263742157095,
 0.04247406334836268,
 0.018936522619648954,
 0.014164711667258745,
 0.010937253603614527,
 -0.00892932063612295,
 -0.05680028401218695,
 0.038677523682917325,
 0.02639349424929982,
 0.02494753985603282,
 0.013405418999358432,
 0.00650383478747063,
 -0.009218265430140593,
 -0.07078396785225272,
 -0.12702248164304075,
 -0.03836336735555679,
 0.09271899958189622,
 0.08643754981979423,
 0.025312671405426812,
 -0.004166917814001692,
 0.03795873987355791,
 0.09139122855247206,
 0.07239399422331827,
 nan,
 -0.04544540781134454,
 0.034384306859479574,
 0.01560364728294239,
 0.023003000679904906,
 -0.006544345994708656,
 0.03426049599097025,
 0.004844984099527494,
 -0.016604828831831564,
 0.002919781659443732,
 0.006014837694849229,
 0.035518247685020654,
 0.01890327882543441,
 0.004321198081246758,
 0.015406761073491593,
 0.009108891663370589,
 0.002992136146875435,
 -0.025795960647700955,
 -0.005403812730230606,
 -0.0006727115962213981,
 -0.005618157741707153,
 0.03150387035654356,
 0.02380229403330425,
 0.0052267589835790496,
 0.00870671203324247,
 -0.002504373619806377,
 -0.02130405907221211,
 -0.0005230802907724152,
 0.026513867361308563,
 0.01706558901207167,
 0.013079721627710095,
 0.006526066519043416,
 -0.00868403034613896,
 -0.016245200170404428,
 -0.039891498265618885,
 -0.027199331559696116,
 0.025852536253593073,
 0.04712041244408338,
 0.012392326975553258,
 0.018030164504157398,
 0.022422886462367897,
 0.027788476401238604,
 0.022310102039172275,
 -0.006871054412299404,
 -0.0020451285412620424,
 -0.0019403401942496012,
 0.012712991436012677,
 -0.0007117608725702995,
 0.04178804851062368,
 0.006070636512656158,
 -0.1010749782311331,
 -0.1424055066714991,
 0.061227797328517575,
 0.050772749368999115,
 0.0002395757498749873,
 0.0018921000819858147,
 -0.007195471679393273,
 0.022128054935902863,
 0.07276799681610724,
 0.012977827695878963,
 nan,
 -0.02688852681670173,
 0.06105009561338792,
 0.02142668943537207,
 -0.00927925623482917,
 0.004613960845662124,
 0.03242222556700147,
 0.0022060456974861697,
 -0.005254956738126593,
 -0.011278386795282591,
 0.044906967555326416,
 0.04294446932743323,
 0.0063225743998365225,
 0.03664158941807871,
 0.013346713196245918,
 -0.005656098761631756,
 0.004135529882615119,
 0.021156481050019105,
 0.01682052443276194,
 0.010383241705910873,
 0.013299771091879187,
 0.045919277024649485,
 0.03543206022305445,
 0.02328411403697439,
 0.07163363753710139,
 -0.01615526430030001,
 -0.032496280466684735,
 -0.021673310900740095,
 0.009144373207110146,
 0.012354292296501201,
 0.008086140687910914,
 0.023406524629950187,
 0.023691478179216574,
 0.003174252622132556,
 -0.023749837654490347,
 -0.013927988304167749,
 -0.031424022689934605,
 0.04305800115056613,
 -0.002515293345843217,
 0.02420896634386649,
 -0.005681242009860421,
 0.009365069937557369,
 0.022651156335665057,
 -0.028353949095831,
 0.02392843401053768,
 -0.0012061226167974226,
 0.03594812632704203,
 0.017087763301555148,
 0.024535991277461644,
 0.006927886820823348,
 -0.08326369945606593,
 -0.09069479731113184,
 0.037120052620662536,
 0.07922923779237134,
 -0.020549491470939985,
 0.06102492299480944,
 0.015587104735596657,
 -0.009036974235837825,
 0.04191486378761389,
 0.01209203912589163,
 nan,
 -0.03498403897849467,
 0.02239945548570965,
 0.006403488586156136,
 0.008715933751723748,
 0.005855204258915503,
 -0.0029191801641330617,
 0.04234236219529208,
 0.009903045754953155,
 0.008189918331630519,
 -0.036146352605190724,
 0.022523837790010548,
 0.018586845683759456,
 0.02247823149239303,
 0.017241096709526893,
 0.027516994669031014,
 0.017587433971320232,
 -0.0007141499318865652,
 -0.006556486127908601,
 0.005488073444430919,
 -0.005688231670710642,
 0.019371263351892765,
 0.010493667320349731,
 0.012402082109593149,
 0.009953480377532076,
 -0.03569072276337815,
 -0.0033687547992370392,
 0.009886933795203223,
 0.043068653067290796,
 0.006257236753153039,
 -0.01593513324188711,
 -0.006433412044590803,
 -0.0073527441757635925,
 -0.014239591721677214,
 -0.05271748922541508,
 -0.03941895294457931,
 0.01422651510823525,
 0.023512811703314318,
 0.014561047282964257,
 0.02262757053608766,
 -0.009002836245090462,
 -0.017745278430505107,
 0.021816742175672976,
 -0.012691821539797199,
 0.028597911698297507,
 0.005595222552646106,
 0.03519650597906976,
 0.04924943443858609,
 0.0022349508703929377,
 -0.010928092796028022,
 -0.09712935712212223,
 -0.147268871940464,
 0.029889529464803388,
 0.05137703845488373,
 -0.03726422584176703,
 0.03074641648860399,
 -0.015157837910790173,
 0.019774959888658517,
 0.08927384646213854,
 0.05598900543066576,
 nan,
 -0.058563263692125944,
 0.04030273078861235,
 0.02077051811791275,
 -0.022244482645032093,
 -0.018312303597038948,
 -0.03309832537890767,
 0.006834832253462819,
 0.04363232083157986,
 0.012646887835282561,
 -0.01904255509654207,
 0.041158273290373026,
 0.014501530132620566,
 0.003644225796578082,
 0.09169361933492137,
 0.030603294191437147,
 0.03267156884498257,
 -0.014108211687633987,
 -0.029148411474731906,
 0.007168159277279873,
 -0.03290266042704493,
 0.013678177527332247,
 -0.0015964084845820903,
 -0.017664974015372037,
 0.02794279694413926,
 -0.019840708798718132,
 -0.06135205308202707,
 0.022497654889355623,
 0.029136604275443068,
 -0.0305411320153407,
 -0.0030830608182953467,
 -0.012863926192454911,
 -0.021317789865207826,
 -0.019123329908549147,
 -0.02444987775061125,
 0.0002832744224692263,
 0.0006101122244788204,
 0.010070548059170958,
 0.023130690241901286,
 0.009439291613319467,
 -0.017084314033640524,
 -0.013176677429225347,
 0.011501963086038902,
 -0.03859161841160519,
 0.02283634015647773,
 0.020379507884142667,
 0.0015159339221351154,
 0.02680132953829495,
 -0.0009586933341064752,
 0.040490280476539686,
 -0.11638697041122814,
 -0.20217731788369808,
 0.016247924825322668,
 0.09302196687695674,
 -0.04304655439267291,
 -0.03443532312364028,
 -0.025383798699629923,
 -0.016594476464126262,
 0.1713048312668708,
 0.016140280093288828,
 nan,
 -0.05766154314363314,
 0.05399567007428674,
 0.018515954303890636,
 -0.002413340026172217,
 0.005373901452256913,
 0.03768910734062003,
 0.019350566333353525,
 0.014728184178764092,
 -0.0020320361411815258,
 0.013183402430616553,
 0.016395875621823874,
 0.031588472147465296,
 0.03624419566616055,
 0.008249242974508686,
 0.02275826232719602,
 0.026657563401516038,
 0.017965605765914106,
 0.01597501931727008,
 0.0009201909228913063,
 0.010468714016881098,
 0.035669856700295766,
 0.02745228935886579,
 0.01192066153578919,
 0.07305615504017093,
 -0.011232699426489412,
 0.02248342834961159,
 -0.03862246144507009,
 0.02292041873406858,
 0.04275533664705944,
 0.01937033728542703,
 0.022370692488895783,
 -0.002273815835066584,
 -0.006667720724548132,
 -0.05804807784019694,
 -0.017070994865105882,
 -0.02147004254271534,
 0.03745938779336466,
 0.03765303165095135,
 0.04119043066015782,
 0.000263408702442014,
 -0.013799627174179374,
 0.0346364856780923,
 -0.026300638852726266,
 0.010275967828214272,
 0.01604991075702844,
 0.04554286546715658,
 0.03643922036359459,
 0.04212751112764512,
 0.04410529967366483,
 -0.08139708849044125,
 -0.011463611984764976,
 0.0645181008434641,
 0.06759839619281549,
 0.06274765596451992,
 0.09365298625912666,
 0.023861528100141305,
 -0.014944764593936677,
 0.027751990126047454,
 0.0568227804451471,
 nan,
 -0.002957779947039829,
 0.04017002655674018,
 0.009969313230575816,
 -0.01764993909161605,
 0.020474081974618752,
 0.00012826813508182155,
 0.0142551446236443,
 0.0060693209586530905,
 -0.001653158437793567,
 -0.028039525885135363,
 0.017360839364362946,
 0.021985615088556232,
 0.009817257725386552,
 0.03356851246841708,
 0.014267519806909323,
 0.06600711959891914,
 0.017135762936586696,
 0.02332138919430604,
 -0.009749073516847728,
 -0.00388029573276083,
 0.04351151157376476,
 0.013687734551061537,
 -0.01870618266189894,
 0.035085900318359675,
 -0.011411753186798324,
 -0.028233945520942494,
 0.0077562932707910814,
 -0.0038840158726646257,
 -0.013980638565079362,
 -0.0646326655003372,
 0.005184119163534451,
 0.014012798969490481,
 -0.007026338846172986,
 -0.09610574138846006,
 0.008433770001780694,
 0.034836988978383276,
 0.012958974038340676,
 -0.019746878311502458,
 0.026462332369658448,
 -0.01595633104707428,
 -0.035444551639645216,
 -0.0021459190647635795,
 -0.05277640694613295,
 0.04149031628794031,
 -0.0035410754997176053,
 0.03275689280925653,
 0.019438728794871185,
 0.028599834035632377,
 -0.010435510909416745,
 -0.07056996684891692,
 -0.06603490717080984,
 0.04294598885875578,
 0.08098168284194496,
 0.03248184865013193,
 0.07521802673861111,
 0.0024820407360766072,
 -0.01630807928620359,
 0.09556812644086055,
 0.0911428065775246,
 nan,
 0.002776942913262692,
 0.055759415611490004,
 -0.00278384142378707,
 0.00132919406776133,
 0.003028595887017538,
 0.027525631476999823,
 0.02435177521852916,
 -0.013314327877326781,
 0.009283719673275792,
 -0.0004458636899243862,
 -0.03213302609413671,
 0.029039834642370144,
 -0.00991778041093938,
 0.03226558065099816,
 0.009501818761927572,
 0.002638488491090829,
 -0.001641596733044981,
 0.037223909366046914,
 -0.004705171420748,
 -0.007561814419563606,
 -0.009114227460173763,
 -0.031823774220888335,
 0.0071402055789338,
 0.03466895855012986,
 -0.009288853582237522,
 -0.03794852329497489,
 0.008618001019274013,
 -0.026089601772992244,
 -0.0030700964225647276,
 0.042843998403839345,
 0.014304079232023259,
 -0.014341771028929862,
 0.0029834621209416934,
 -0.0586674186342071,
 -0.10306660958496372,
 0.05132287057121654,
 0.0021600175316007775,
 -0.02381347168153647,
 0.05184707447864656,
 -0.026641442591059827,
 -0.011560402687521898,
 -0.004819206836162215,
 -0.02217477787045996,
 0.021982502639450896,
 0.006694514743186275,
 0.006130749230950583,
 0.022357046591966023,
 0.01765586665523533,
 -0.012293587162922615,
 -0.04264840858533958,
 -0.15055195826998746,
 0.0206617554901114,
 0.06170620330745069,
 -0.050157959927952356,
 0.03520030467720692,
 -0.045763632700942525,
 0.032536567702675656,
 0.10408161082213097,
 0.045804141825187994,
 nan,
 -0.031746280420819395,
 -0.035346897419240686,
 0.019655631210560687,
 -0.019206712373910917,
 -0.01620251328432476,
 -0.008581745616514702,
 0.006525745300274721,
 0.009578091836325964,
 0.02133415900847635,
 0.053581827923500525,
 0.0605677180928863,
 0.005110708643320416,
 -0.00689030632333254,
 0.008972622435721389,
 -0.017537164958298823,
 0.03484401066484355,
 0.01346886211128151,
 -0.001726593145181976,
 -0.005716200039342034,
 0.015813764835648003,
 0.07913143802195433,
 0.042065399435224915,
 6.888594063503284e-05,
 0.05165706530346048,
 -0.026448227410858505,
 -0.06463436499366981,
 0.02274978446641418,
 0.023789527910038855,
 -0.0015645467225565701,
 -0.00749754205089348,
 0.0033039361645155196,
 0.05468152178665919,
 0.006242945035653369,
 -0.07349211853291304,
 0.003906263910538943,
 -0.07978818988331915,
 0.03768969777632947,
 0.012317824163651236,
 0.02225002962529632,
 -0.017207575795118002,
 -0.02102112749772944,
 0.013683703607175968,
 -0.00990784564347269,
 0.025897120016552755,
 0.0396080075612002,
 0.023760590099853207,
 0.023218926371286974,
 0.0007226185866686663,
 -0.00871633428507268,
 -0.10595431111032572,
 -0.05389740952944633,
 0.08530492150771507,
 0.05757306001853113,
 -0.010035318395168136,
 0.01530886366607831,
 0.011268998032016642,
 0.004746748605289675,
 0.1256205331207194,
 0.03465751440468212]

In [71]:
yearlydata= monthlydata_flatp.groupby(["Index",'Year'])[['Price']].max("Month")
yearlydata=yearlydata.stack().reset_index()
yearlydata=yearlydata.drop(columns=['level_2'])
yearlydata.columns=['Index','Year','Price']
yearlydata['Yearly Return']=yearlydata.groupby(["Index"])["Price"].pct_change(1)
#yearlydata = yearlydata[monthlydata_flat.Year != 2015]
yearlydata.columns=['Index','Year','Price','Yearly Return']
yearlydata.fillna(method='ffill')
yearlydata
#yearlydata.to_csv(r'/Users/yousef/Desktop/1.csv', index = False)

        Index  Year         Price  Yearly Return
0   000001.SS  2016   3361.840088            NaN
1   000001.SS  2017   3447.835938       0.025580
2   000001.SS  2018   3559.465088       0.032377
3   000001.SS  2019   3270.797119      -0.081099
4   000001.SS  2020   3451.939941       0.055382
..        ...   ...           ...            ...
65      ^N225  2016  19494.529297            NaN
66      ^N225  2017  22939.179688       0.176698
67      ^N225  2018  24270.619141       0.058042
68      ^N225  2019  24066.119141      -0.008426
69      ^N225  2020  27568.150391       0.145517

[70 rows x 4 columns]

In [72]:
Graph_data=Df_Cur.groupby(['Index'])[['Daily Change']].agg('mean')
Graph_data["Daily Volatility"]=Df_Cur.groupby(['Index'])[['Daily Change']].agg('std')
Graph_data["Monthly Return"]=monthlydata_flatp.groupby(['Index'])[['Monthly Return']].agg('mean')
Graph_data["Monthly Volatility"]=monthlydata_flatp.groupby(['Index'])[['Monthly Return']].agg('std')
Graph_data["Yearly Return"]=yearlydata.groupby(['Index'])[['Yearly Return']].agg('mean')
Graph_data["Yearly Volatility"]=yearlydata.groupby(['Index'])[['Yearly Return']].agg('std')
Graph_data["Average Market Cap"]=Df_Cur.groupby(['Index'])[["Market Cap USD"]].agg('mean')
#Graph_data=Graph_data.rename( index={'000001.SS': 'China: SSE Composite','DAX':'Germany: DAX30','EWZ':'Brazil: iShares MSCI Brazil ETF','FTSEMIB.MI':'Italy: FTSE Italia All-Share','VCE.TO':'Canada: Vanguard FTSE Canada','^BSESN':'India: S&P BSE SENSEX','^DJAU':'Australia: Dow Jones Australia','^DJI':'USA: Dow Jones','^FTMC':'UK: FTSE 250 Index','^IBEX':'Spain: IBEX 35','^IXIC':'US: Nasdaq','^KS11':'South Korea: KOSPI','^MXX':'Mexico: IPC','^N225':'Japan: Nikkei 225 Index'}, inplace=True)

#Graph_data=Graph_data.reset_index(name='Price Changes')
#Graph_data=Graph_data.rename_axis(None, axis = 1)
#Graph_data['Index']=Graph_data['Index'].apply(str)
#Graph_data['Index'] = Graph_data['Index'].replace(['000001.SS','DAX','EWZ','FTSEMIB.MI','VCE.TO','^BSESN','^DJAU','^DJI','^FTMC','^IBEX','^IXIC','^KS11','^MXX','^N225'], [ 'China: SSE Composite','Germany: DAX30','Brazil: iShares MSCI Brazil ETF','Italy: FTSE Italia All-Share','Canada: Vanguard FTSE Canada','India: S&P BSE SENSEX','Australia: Dow Jones Australia','USA: Dow Jones','UK: FTSE 250 Index','Spain: IBEX 35','US: Nasdaq','South Korea: KOSPI','Mexico: IPC','Japan: Nikkei 225 Index'])
Indices=Graph_data.index.tolist()
Indices = pd.Series(Indices) 
Indices= Indices.replace(['000001.SS','DAX','EWZ','FTSEMIB.MI','VCE.TO','^BSESN','^DJAU','^DJI','^FTMC','^IBEX','^IXIC','^KS11','^MXX','^N225'], [ 'China: SSE Composite','Germany: DAX30','Brazil: iShares MSCI Brazil ETF','Italy: FTSE Italia All-Share','Canada: Vanguard FTSE Canada','India: S&P BSE SENSEX','Australia: Dow Jones Australia','USA: Dow Jones','UK: FTSE 250 Index','Spain: IBEX 35','US: Nasdaq','South Korea: KOSPI','Mexico: IPC','Japan: Nikkei 225 Index'])
Indices=Indices.tolist()
Graph_data['Country']=Indices

cols = list(Graph_data.columns)
cols = [cols[-1]] + cols[:-1]
Graph_data = Graph_data[cols]

Graph_data

                                    Country  ...  Average Market Cap
Index                                        ...
000001.SS              China: SSE Composite  ...        1.543484e+08
DAX                          Germany: DAX30  ...        1.992031e+05
EWZ         Brazil: iShares MSCI Brazil ETF  ...        8.182649e+08
FTSEMIB.MI     Italy: FTSE Italia All-Share  ...        1.114922e+13
VCE.TO         Canada: Vanguard FTSE Canada  ...        5.167225e+05
^BSESN                India: S&P BSE SENSEX  ...        2.255218e+08
^DJAU        Australia: Dow Jones Australia  ...        0.000000e+00
^DJI                         USA: Dow Jones  ...        7.234246e+10
^FTMC                    UK: FTSE 250 Index  ...        7.699881e+12
^IBEX                        Spain: IBEX 35  ...        2.157177e+12
^IXIC                            US: Nasdaq  ...        1.909856e+13
^KS11                    South Korea: KOSPI  ...        1.422472e+08
^MXX                            Mexico: IPC  ...        1.435769e+12
^N225               Japan: Nikkei 225 Index  ...        2.620467e+11

[14 rows x 8 columns]

In [ ]:
#Output data as list

#yearlyReturn= Graph_data['Yearly Return'].tolist()
#YearlyVolatility=Graph_data['Yearly Volatility'].tolist()
#Av_MarketCap=Graph_data['Average Market Cap'].tolist()

#Indices=Graph_data.index.tolist()
#Indices = pd.Series(Indices) 
#Indices= Indices.replace(['000001.SS','DAX','EWZ','FTSEMIB.MI','VCE.TO','^BSESN','^DJAU','^DJI','^FTMC','^IBEX','^IXIC','^KS11','^MXX','^N225'], [ 'China: SSE Composite','Germany: DAX30','Brazil: iShares MSCI Brazil ETF','Italy: FTSE Italia All-Share','Canada: Vanguard FTSE Canada','India: S&P BSE SENSEX','Australia: Dow Jones Australia','USA: Dow Jones','UK: FTSE 250 Index','Spain: IBEX 35','US: Nasdaq','South Korea: KOSPI','Mexico: IPC','Japan: Nikkei 225 Index'])
#Indices=Indices.tolist()
#Graph_data['Country']=Indices

In [ ]:
js = """
var data = [
    {
            x: """ + str(Graph_data['Country'].to_list()) + """,
            y:""" + str(Graph_data['Yearly Return'].to_list()) + """,
            text:""" + str(Graph_data['Country'].to_list()) + """,
            mode: 'markers',
            marker: {
                color: ['#086BB6', '#028F32', '#D84325',
                        '#FF6633', '#FFB399', '#FF33FF', 
                        '#FFFF99', '#00B3E6', '#E6B333', 
                        '#3366E6', '#999966', '#99FF99', 
                        '#CCCC00','#B34D4D'],
                size: [c]
            }
    }];

var layout= {
    title:"Risk/ Return and Market Cap"};

Plotly.newPlot('myGraph1', data, layout);    """

In [ ]:
#Output as json

#with open("output.json", "w") as f:
    #json.dump(Indices, f)
    #json.dump(yearlyReturn, f)
    #json.dump(YearlyVolatility, f)
    #json.dump(Av_MarketCap, f)
print(js)

var data = [
    {
            x: ['China: SSE Composite', 'Germany: DAX30', 'Brazil: iShares MSCI Brazil ETF', 'Italy: FTSE Italia All-Share', 'Canada: Vanguard FTSE Canada', 'India: S&P BSE SENSEX', 'Australia: Dow Jones Australia', 'USA: Dow Jones', 'UK: FTSE 250 Index', 'Spain: IBEX 35', 'US: Nasdaq', 'South Korea: KOSPI', 'Mexico: IPC', 'Japan: Nikkei 225 Index'],
            y:[0.008059935700388793, 0.09204177129910149, 0.0865732567040865, 0.050680812035176936, 0.06770479533727375, 0.13293757233056308, 0.06383087263563869, 0.1132307389041533, 0.04888151416380421, 0.022398307764373127, 0.24408424208980434, 0.09888959288325294, -0.012685807952285633, 0.09295792894895322],
            text:['China: SSE Composite', 'Germany: DAX30', 'Brazil: iShares MSCI Brazil ETF', 'Italy: FTSE Italia All-Share', 'Canada: Vanguard FTSE Canada', 'India: S&P BSE SENSEX', 'Australia: Dow Jones Australia', 'USA: Dow Jones', 'UK: FTSE 250 Index', 'Spain: IBEX 35', 'US: Nasdaq', 'South Korea: KOSPI', 'Mexico: IPC', 'Japan: Nikkei 225 Index'],
            mode: 'markers',
            marker: {
                color: ['#086BB6', '#028F32', '#D84325',
                        '#FF6633', '#FFB399', '#FF33FF',
                        '#FFFF99', '#00B3E6', '#E6B333',
                        '#3366E6', '#999966', '#99FF99',
                        '#CCCC00','#B34D4D'],
                size: [c]
            }
    }];

var layout= {
    title:"Risk/ Return and Market Cap"};

Plotly.newPlot('myGraph1', data, layout);

In [ ]:
file1 = open("Graph.js","w")
file1.write(js)
file1.close()

In [73]:
BubData_Graph=Graph_data[['Country']]
BubData_Graph['Annual Return']=Graph_data['Yearly Return']*100
BubData_Graph['Annual Volatility']=Graph_data['Yearly Volatility']*100
BubData_Graph['Market Cap Data']=Graph_data['Average Market Cap']/100000000000
BubData_Graph.reset_index(drop=True, inplace=True)
BubData_Graph['Market Cap Data'] = BubData_Graph.apply(lambda row: '5' if row['Market Cap Data']<1 else row['Market Cap Data'],axis=1)

BubData_Graph

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                            Country  ...  Market Cap Data
0              China: SSE Composite  ...                5
1                    Germany: DAX30  ...                5
2   Brazil: iShares MSCI Brazil ETF  ...                5
3      Italy: FTSE Italia All-Share  ...          111.492
4      Canada: Vanguard FTSE Canada  ...                5
5             India: S&P BSE SENSEX  ...                5
6    Australia: Dow Jones Australia  ...                5
7                    USA: Dow Jones  ...                5
8                UK: FTSE 250 Index  ...          76.9988
9                    Spain: IBEX 35  ...          21.5718
10                       US: Nasdaq  ...          190.986
11               South Korea: KOSPI  ...                5
12                      Mexico: IPC  ...          14.3577
13          Japan: Nikkei 225 Index  ...          2.62047

[14 rows x 4 columns]

In [74]:
BuBGraph = """
var data = [
    {
            x: """ + str(BubData_Graph['Annual Return'].to_list()) + """,
            y:""" + str(BubData_Graph['Annual Volatility'].to_list()) + """,
            text:""" + str(BubData_Graph['Country'].to_list()) + """,
            mode: 'markers',
            marker: {
                color: ['#086BB6', '#028F32', '#D84325',
                        '#FF6633', '#FFB399', '#FF33FF', 
                        '#FFFF99', '#00B3E6', '#E6B333', 
                        '#3366E6', '#999966', '#99FF99', 
                        '#CCCC00','#B34D4D'],
                size:"""+ str(BubData_Graph['Market Cap Data'].to_list())+""", 
            }
    }];

var layout= {
    title:"Risk/ Return and Market Cap"};

Plotly.newPlot('myGraph1', data, layout);    
"""

In [75]:
data_bar=Graph_data.copy()
data_bar['Average Market Cap'].value_counts().head(5)
data_bar_sort = data_bar.sort_values('Average Market Cap',ascending = False).head(5)
data_bar_sort

                                 Country  ...  Average Market Cap
Index                                     ...
^IXIC                         US: Nasdaq  ...        1.909856e+13
FTSEMIB.MI  Italy: FTSE Italia All-Share  ...        1.114922e+13
^FTMC                 UK: FTSE 250 Index  ...        7.699881e+12
^IBEX                     Spain: IBEX 35  ...        2.157177e+12
^MXX                         Mexico: IPC  ...        1.435769e+12

[5 rows x 8 columns]

In [76]:
#data_bar = Graph_data[-7:-1]
#data_bar = Graph_data.iloc[[0,1,2,8,10],:]
data_bar=Graph_data.copy()
data_bar['Average Market Cap'].value_counts().head(5)
data_bar_sort = data_bar.sort_values('Average Market Cap',ascending = False).head(5)
data_bar_sort['Average Market Cap']=data_bar_sort['Average Market Cap']/100000000000

list_country = data_bar_sort["Country"].to_list()
list_marketcap = data_bar_sort["Average Market Cap"].to_list()

# A mettre copier coller directement dans l'HTML 

barchart = """

new Chart(document.getElementById("chartjs-2"),
{"type":"bar",
 "data":{"labels":"""+ str(list_country) + """,
 "datasets":[{"label":"Market capitalization as of 2020-12-30",
 "data":""" + str(list_marketcap) + """,
 "fill":false,
 "backgroundColor":["rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(201, 203, 207, 0.2)"],
  "borderColor":["rgb(255, 99, 132)",
                 "rgb(255, 159, 64)",
                 "rgb(255, 205, 86)",
                 "rgb(75, 192, 192)",
                 "rgb(54, 162, 235)",
                 "rgb(153, 102, 255)",
                 "rgb(201, 203, 207)"],
                 "borderWidth":1}]},
  "options":{"scales":{
                      "yAxes":[{
                                "ticks":{
                                          "beginAtZero":true
                                          }
                              }]
                        }
              }
    });

 """

In [77]:
Polar = """
new Chart(document.getElementById("chartjs-3"),
{"type":"polarArea",
  "data":{
          "labels":"""+ str(list_country) + """,
          "datasets":[{"label":"My First Dataset",
                       "data":""" + str(list_marketcap) + """,
                        "backgroundColor":["rgba(255, 99, 132, 0.2)",
                                          "rgba(255, 159, 64, 0.2)",
                                          "rgba(255, 205, 86, 0.2)",
                                          "rgba(75, 192, 192, 0.2)",
                                          "rgba(54, 162, 235, 0.2)",
                                          "rgba(153, 102, 255, 0.2)",
                                          "rgba(201, 203, 207, 0.2)"]}
                      ]
        }
       });
 """

In [78]:
all_data = all_data.dropna()
all_data = all_data.reset_index()

dax_1 =all_data["Adj Close"]["DAX"].to_list()
dax = []
ewz_1 = all_data["Adj Close"]["EWZ"].to_list()
ewz = []
for i in dax_1 :
  dax.append(round(i,2)) 

for i in ewz_1 :
  ewz.append(round(i,2)) 

Date_all_data = "['"
date = all_data['Date'].to_list()
for i in date:
  Date_all_data = Date_all_data + str(i)[0:10] + "','"
Date_all_data = Date_all_data[0:-2] + "]"

In [79]:
Series = """

Plotly.d3.csv("https://raw.githubusercontent.com/plotly/datasets/master/finance-charts-apple.csv", function(err, rows){

	function unpack(rows, key) {
  		return rows.map(function(row) { return row[key]; });
		}


var trace1 = {
  type: "scatter",
  mode: "lines",
  name: 'DAX Adj Close',
  x: """ + str(Date_all_data) +""",
  y: """ + str(dax) +""",
  line: {color: '#17BECF'}
}

var trace2 = {
  type: "scatter",
  mode: "lines",
  name: 'EWZ Adj Close',
  x: """ + str(Date_all_data) +""",
  y: """ + str(ewz) +""",
  line: {color: '#7F7F7F'}
}

var data = [trace1,trace2];

var layout = {
  title: 'Price evolution for DAX and EWZ',
  xaxis: {
    autorange: true,
    range: ['2016-01-01', '2017-02-16'],
    rangeselector: {buttons: [
        {
          count: 1,
          label: '1m',
          step: 'month',
          stepmode: 'backward'
        },
        {
          count: 6,
          label: '6m',
          step: 'month',
          stepmode: 'backward'
        },
        {step: 'all'}
      ]},
    rangeslider: {range: ['2016-01-01', '2020-12-16']},
    type: 'date'
  },
  yaxis: {
    autorange: true,
    range: [86.8700008333, 138.870004167],
    type: 'linear'
  }
};

Plotly.newPlot('myDiv_4', data, layout);
})

"""

In [80]:
Map = """

var data = [{
  type: "choroplethmapbox", locations: ['CHN', 'DEU', 'BRA', 'ITA', 'CAN', 'IND', 'AUS', 'USA', 'GBR', 'ESP', 'KOR', 'MEX', 'JPN'], z:[0.008059935700388793, 0.09204177129910149, 0.0865732567040865, 0.050680812035176936, 0.06770479533727375, 0.13293757233056308, 0.06383087263563869, 0.17865749049697882, 0.04888151416380421, 0.022398307764373127, 0.09888959288325294, -0.012685807952285633, 0.09295792894895322],geojson: "https://storage.googleapis.com/kagglesdsdata/datasets/4456/6834/world-countries.json?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20210314%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20210314T000236Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=554828bb76b6be978fbee2b7115059010e7b73387be0984e66ffd986c44cc92a33b9b36d167f542cf79378407d4acf5496e4c77bc5b1e074654c4013890f5652aaea428d1f1b5b70ef93bc391398fbe6b8e2aa8f4c7d44111a96d285c5e4bbf45b14f9e2d84e5dde8b703a72517b3e035dee082303e908e5b6bc448aee3722bc44cf950df15e856b619313c1d5fa3892bd2999b893cb6d1fd42786b436c5d76064b24da05bc808d152934bffdf6adc5472218403600f265ab065c523c60d998a1c7b48ad5c3b27fb3bcf57d4cca1ca9612c1b2e784dc15d066b4b1bf1ea55e2628cff090d7706a466c2d145e93ce8b53ed5e4d6f28af9fb8512eac61c701d238"
}];

var layout =
    {width: 1000, height:500};

var config ={mapboxAccessToken:"pk.eyJ1IjoibW91aGFuZWR5b3VzZWYiLCJhIjoiY2ttOWo5bDBtMTNheTJ2bGFrMmRsNHQ0cyJ9.b0FmTz0kM_mz5W9Z0OgCrA"};

Plotly.newPlot('Div_map', data, layout, config);

"""

In [81]:
Line = """
var trace1 = {
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y:[0,-0.059066110902319835, 0.02557999409880707, 0.03237658415718192, -0.0810986936582282, 0.055381858203794376],
  type: "scatter",
  mode: "lines",
  name: '000001.SS',
};

var trace2 = {
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.023712192530563003, 0.2900825690634379, 0.059162510974448024, -0.11177405701115906, 0.1306960621696791], 
  type: "scatter",
  mode: "lines",
  name: 'DAX',
};

var trace3 = {
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.8505464365615512, 0.1588705891900104, 0.10344307832063415, 0.06679633211591818, 0.017183027189783262], 
  type: "scatter",
  mode: "lines",
  name: 'EWZ', 
};

var trace4 = {
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, -0.020310019609674157, 0.09831768574560362, 0.06500043391477917, -0.022001303780964765, 0.06140643226128972], 
  type: "scatter",
  mode: "lines",
  name: 'FTSEMIB.MI',
};

var trace5 = {
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.20522655817949764, 0.08152827846522248, 0.03702034027360468, 0.09994777471567184, 0.05232278789459599], 
  type: "scatter",
  mode: "lines",
  name: 'VCE.TO',
};

var trace6 = {
  type: "scatter",
  mode: "lines",
  name: 'BSESN',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.11209862565415651, 0.17254262824954814, 0.14210955769240474, 0.07159772542145704, 0.1455003779588424],  
};

var trace7 = {
  type: "scatter",
  mode: "lines",
  name: 'DJAU',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.07801614669114776, 0.07495392593810779, 0.04780121577812557, 0.08520198912147858, 0.04736635970484282],  
};

var trace8 = {
  type: "scatter",
  mode: "lines",
  name: 'DJI',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.13467209856320417, 0.24345348418231927, 0.08015621848412402, 0.06772188335933782, 0.06159136959083211],  
};

var trace9 = {
  type: "scatter",
  mode: "lines",
  name: 'FTMC',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.046941467450813734, 0.12998518286621819, 0.028837718078988273, 0.03446820483961743, 0.0022349508703929377],  
};

var trace10 = {
  type: "scatter",
  mode: "lines",
  name: 'IBEX',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, -0.02375994804571846, 0.18300618537320412, -0.04722779353922113, -0.08567793015693481, 0.039492769380444326], 
};

var trace11 = {
  type: "scatter",
  mode: "lines",
  name: 'IXIC',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0,0, 0.27468543443091864, 0.15939506332446984, 0.11254434061297602, 0.42971212999085284], 
};

var trace12 = {
  type: "scatter",
  mode: "lines",
  name: 'KS11',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.05476437121134614, 0.2364989012184726, 0.015723394396248258, -0.13453983984117546, 0.27787591575946635], 
};

var trace13 = {
  type: "scatter",
  mode: "lines",
  name: 'MXX',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.1321137895738027, 0.061987611959479105, -0.012528491440765177, -0.10849204433798054, 0.008289692010124083],  
};

var trace14 = {
  type: "scatter",
  mode: "lines",
  name: 'N225',
  x: [2015, 2016, 2017, 2018, 2019, 2020],
  y: [0, 0.05476437121134614, 0.2364989012184726, 0.015723394396248258, -0.13453983984117546, 0.27787591575946635],
};

var data = [trace1,trace2,trace3,trace4,trace5,trace6,trace7,trace8,trace9,trace10,trace11,trace12,trace13,trace14];
var layout={
    title: 'Compared Yearly Return',
    xaxis: {
        tickmode: 'array',
        tickvals: [2015,2016,2017, 2018, 2019, 2020]}
};
Plotly.newPlot('myViz', data, layout)
"""

In [82]:
js = """
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script>
""" + BuBGraph + barchart + Polar + Series + Map + Line + """
</script> """

In [83]:
HTML = """
<!DOCTYPE html>
<html>

<!-- head -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MSc Finance & Big Data - Data visualization 2021</title>

  <!-- bulma and font awesome -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" crossorigin="anonymous">
</head>

<!-- body -->
<body>

  <!-- header -->
  <section class="hero is-info is-bold">
    <!-- todo: change assignment and name -->
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Data Visualization Assignment
        </h1>
        <h2 class="subtitle">
          Student Name : </br></br>
          Elias ESSAADOUNI </br>
          Anna YAN HUO </br>
          Mouhaned YOUCEF </br>
          Brendan BOUCHAUD </br>

        </h2>
      </div>
    </div>

    <!-- change navigation if needed -->
    <div class="hero-foot">
      <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">

          <div class="navbar-brand">
            <a class="navbar-item" href="#top">
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              <span>Home</span>
            </a>
          </div>

          <div id="main-navbar" class="navbar-menu">
            <a class="navbar-item" href="#viz1">
              <span class="icon">
                <i class="fas fa-chart-area"></i>
              </span>
              <span>Visualization 1</span>
            </a>
          </div>

          <div class="navbar-end">
            <a class="navbar-item" href="#about">
              <span class="icon">
                <i class="fas fa-info-circle"></i>
              </span>
              <span>About</span>
            </a>
          </div>

        </nav>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container content">
      <!-- modify if necessary (move visualizations in separate pages) -->
      <h2 id="viz1">Data Visualization report : </h2>
          
                  
      <h3>Interpretation</h3>

      <p>
      In this data visualization report, we would like to show stock indices for 14 countries covering a period from 2016 to 2020. We aim at showing and comparing these indices from different countries to show the stock market, in order to analyze the reasons through these graphs.
      <p>

      <h3>Map </h3>

          <div style="max-width: 100%; margin: auto" id="Div_map"></div>

      <p>
        
        First of all, we show the stock index on a world map so that we can visualize the major stock markets in a world scope. On the stock index world map, we can identify the US is the major stock market player. In Europe, western European countries are quite active. In Asia, it’s mainly China and India.

      </p>

      <h3>Bubble </h3>

          <div style="max-width: 100%; margin: auto" id="myGraph1"></div>

      <p>

          Secondly, we are curious about the risk-return performance. Therefore, we show the bubble graph in terms of their proper average risk and return for each country. To better visualize the importance on the global market, we choose to show the bubbles regarding their market values.         
          </br>
          In this graph, we can clearly see that most of the countries concentrate on the left part of the graph, which gives low risk-return. However, the US is on the right part of the graph, which indicates a high risk-return. The result is not astonishing, since the US index is used with Nasdaq. Therefore, the risk is certainly higher, which corresponds to a higher return. 
          </br>
          In order to visualize it better, the graph unit is in 100 billion US dollars. The minor countries regarding market capitalization are normalized to 5 so that we can still localize them.
          </br>
      </p>

      <h3>line chart </h3>

          <div style="max-width: 100%; margin: auto" id="myViz"></div>

      <p>

      Then, we would like to observe the trends for the global market with line charts. On the chart, we can see that the stock market has a bull run in general. The only bearish year is from 2018 to 2019. Traced back to that time, different political reasons lead to this stock dive. Trade war between US and China, global economic downturn and concern on interest rates of Federal Reserves etc, these factors make 2018 the worst year for the stock market. 

      </p>

      <h3>Bar Chart and Polar Chart </h3>

          <canvas id="chartjs-2" class="chartjs" width="770" height="385" style="display: block; width: 770px; height: 385px;"></canvas>

      <p>

          Fourthly, after the macro analysis regarding the global stock market, we would like to concentrate on the micro stock market. We filter the top 5 most important countries regarding global market capitalization. Based on our data, we can see that the US is the leading market, followed by the major stock markets  in Europe, such as Italy, UK and Spain. Mexican market takes the fifth position. 

      </p>

          <canvas id="chartjs-3" class="chartjs" width="770" height="385" style="display: block; width: 770px; height: 385px;"></canvas>

      <p>

          To make graphs clearer, the unit is 100 billion USD dollars. We can see that the US takes a dominant place among the global stock market. This dominant effect shows more obviously on the polar chart. 

      </p>

      <h3>Dynamic Graph on German stock index vs Brazil stock index</h3>

          <div style="max-width: 100%; margin: auto" id="myDiv_4"></div>
          
      <p>

          Finally, we would like to focus on the individual stock index. We take DAX(Germany) and EWZ(Brazil) as an example to show monthly and yearly changes in detail. From this graph, we can see the upward trend for both stock indices. Meanwhile, we observe a sharp decrease in March 2020 due to coronavirus. As a whole, DAX performs more stably than EWZ. DAX has less decrease than EWZ as well with this pandemic impact. This corresponds to the stronger economies in Germany than Brazil.
          
      </p>

      <h3>Conclusion</h3>

      <p>

          In conclusion, these graphs show that the global stock market has upward trending from 2016 to 2019 despite several minor fluctuations. In 2020, the market goes down violently due to the coronavirus pandemic. We can see that the stock market has been impacted in different periods due to the arrival of coronavirus.

      </p>

      <h3>Sources</h3>

      <p>


We scratch stock index data from Yahoo Finance directly via pandas datareader. Regarding exchange rates for different countries, we took them from Yahoo as well. The period covers from 01/01/2016 to 31/12/2020.
        
      </p>
    </div>
  </section>

  <hr class="container">

  <!-- about section -->
  <!-- fill in, or link to a personal web page  -->
  <section class="section">
    <div class="container content">
      <h2 id="about">
        About Me
      </h2>

      <div class="media">
        <div class="media-left">
          <p class="image is-128x128">
            <!-- replace with your profile image -->
            <img src="https://raw.githubusercontent.com/mscfinance-big-data-viz/indiv-assignment-template/master/suicide_densityFR.png">
          </p>
        </div>

        <div class="media-content">
            <p>
              <!-- replace with your information -->
              <strong>Groupe : Elias - Anna - Brendan - Mouhaned</strong>
              <br/>
              From the Best Group project.
              <br/>
              <!-- find brand icons at: https://fontawesome.com/icons?d=gallery&s=brands&m=free -->
              <a href="https://github.com/">
                <span class="fab fa-github"></span>
                <span>Github</span>
              </a>
              &bullet;
              <a href="https://www.linkedin.com/">
                <span class="fab fa-linkedin"></span>
                <span>LinkedIn</span>
              </a>
            </p>

        </div>
      </div>

    </div>
  </section>


  <footer class="footer">
    <div class="content has-text-centered">
      <small>
        <a href="#top">
          <span class="fas fa-arrow-up"></span>
          <span>Back to Top</span>
        </a>
        <br/>
        <a href="https://www.neoma-bs.fr/formations/masteres-specialises-masters-of-science-temps-partiel/msc-in-finance-and-big-data/presentation-du-programme">MSc Finance & Big Data / Data visualization</a>
        &bullet;
        <a href="https://https://www.neoma-bs.fr/">Neoma Business School</a>
      </small>
    </div>
  </footer>
    
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

""" + js + """    
</body>
</html>


"""

In [84]:
filegraphbub = open("groupe_Elias_Anna_Mouhaned_Brendan.html","w")
filegraphbub.write(HTML)
filegraphbub.close()